@charset "UTF-8";
/* 通用样式 */
body, div, span, a, p, nav, em, ul, ol, li, img, button, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
a:focus {
  text-decoration: none;
  background-color: transparent;
}
a:active {
  background-color: transparent;
}

input, button {
  outline: none;
  border: 0;
}

body {
  background-color: #fcf5eb;
  overflow-x: hidden;
  padding-bottom: 2.37rem;
}

/* 手机状态栏开始 */
.status {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 0.4rem;
  background-color: #fcf5eb;
}

/* 顶部开始 */
.header {
  position: fixed;
  top: 0.4rem;
  left: 0;
  z-index: 99;
  margin-top: 0;
  width: 100%;
  height: 0.8rem;
  text-align: center;
  font-size: 0.36rem;
  line-height: 0.8rem;
  font-weight: bold;
  background-color: #fcf5eb;
}
.header span {
  position: absolute;
  top: 0;
  left: 0.4rem;
  z-index: 1;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("../img/order/order-home/arrow.png");
  background-repeat: no-repeat;
  background-size: 0.2rem 0.36rem;
  background-position: center center;
}

/* 底部栏开始 */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 2.37rem;
  text-align: center;
  background-image: url("../img/order/order-home/custom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer a {
  position: absolute;
  left: 2.42rem;
  top: 0.57rem;
  display: inline-block;
  width: 2.8rem;
  height: 0.9rem;
}

.content {
  width: 100%;
  margin-top: 1.6rem;
}
.content .order-flow {
  width: 5.22rem;
  margin: 0.4rem auto;
  font-size: 0;
}
.content .order-flow img {
  width: 100%;
}
.content .order-flow span {
  position: absolute;
  right: 0.2rem;
  bottom: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("../img/order/order-home/question.png");
  background-repeat: no-repeat;
  background-size: 0.34rem 0.34rem;
  background-position: center center;
}
.content .order-enjoy {
  width: 5.22rem;
  margin: 0 auto;
}
.content .order-enjoy .enjoy {
  width: 2.73rem;
  height: 1px;
  background-color: #000000;
  margin: 0.7rem auto 0.4rem;
  padding: 0 0.33rem;
  font-size: 0.36rem;
}
.content .order-enjoy .enjoy p {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1.09rem;
  margin-top: -0.235rem;
  padding: 0 0.37rem;
  font-size: 0.36rem;
  color: #333333;
  background-color: #fcf5eb;
}
.content .order-enjoy .order-enjoy-pic {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.16rem;
}
.content .order-enjoy .order-enjoy-pic .enjoy-pic-left, .content .order-enjoy .order-enjoy-pic .enjoy-pic-right {
  width: 2.54rem;
  font-size: 0;
}
.content .order-enjoy .order-enjoy-pic .enjoy-pic-left a, .content .order-enjoy .order-enjoy-pic .enjoy-pic-right a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.content .order-enjoy .order-enjoy-pic .enjoy-pic-left a img, .content .order-enjoy .order-enjoy-pic .enjoy-pic-right a img {
  width: 100%;
  height: 100%;
}
.content .order-enjoy .order-enjoy-pic .enjoy-pic-left {
  float: left;
}
.content .order-enjoy .order-enjoy-pic .enjoy-pic-right {
  float: right;
}

/*# sourceMappingURL=order.css.map */
