@charset "UTF-8";
@import "../css/common.css";
@import "../css/register.css";

.content{
  background-image: url("../img/password/back2@2x.png");
  .cont-content{
    p{
      font-size: 0.32rem;
      margin-bottom: 0.15rem;
      &.p1 {
        padding-left: 0.3rem;
        background: {
          image: url("../img/login/kuang@2x.png");
          repeat: no-repeat;
          size: 0.22rem 0.22rem;
          position: 0 center;
        }
        span.on{
          position: absolute;
          top: 0.1rem;
          left: 0;
          display: inline-block;
          width: 0.22rem;
          height: 0.22rem;
          background: {
            image: url("../img/login/√@2x.png");
            repeat: no-repeat;
            size: 0.17rem 0.13rem;
            position: center center;
          }
        }
      }
    }
  }
}