@charset "UTF-8";
@import "../css/common.css";

.status{
  background: transparent;
}

/* 顶部开始 */
.header{
  position: fixed;
  top: 0.4rem;
  left: 0;
  z-index: 99;
  margin-top: 0;
  width: 100%;
  height: 0.8rem;
  text-align: center;
  font-size: 0.36rem;
  line-height: 0.8rem;
  font-weight: bold;
  //background-color: #fcf5eb;
  span{
    position: absolute;
    top: 0;
    left: 0.4rem;
    z-index: 10;
    width: 0.8rem;
    height: 0.8rem;
    background: {
      image: url("../img/order/order-home/arrow.png");
      repeat: no-repeat;
      size: 0.2rem 0.36rem;
      position: center center;
    }
  }
  p{
    float: right;
    text-align: right;
    color: #a31515;
    font-weight: normal;
    padding-right: 0.66rem;
  }
}// 顶部结束

body{
  padding: 0rem;
}

html,body{
  width: 100%;
  height: 100%;
}

.content{
  width: 100%;
  height: 100%;
  font-size: 0;
  background: {
    color: transparent;
    image: url("../img/register/back2@2x.png");
    repeat: no-repeat;
    size: 7.5rem 13.34rem;
  }
  .cont-content{
    width: 100%;
    height: 100%;
    padding: 3.56rem 0.64rem 0rem;
    color: #a31515;
    p{
      font-size: 0.32rem;
      margin-bottom: 0.17rem;
    }
    input{
      width: 100%;
      height: 1.08rem;
      font-size: 0.5rem;
      color: #a31515;
      margin-bottom: 0.5rem;
      background: transparent;
      border-bottom: 1px solid #e2b4ae;
      &::-webkit-input-placeholder{
        color: #a31515;
      }
      &:-ms-input-placeholder{
        color: #a31515;
      }
      &::placeholder{
        color: #a31515;
      }
      &::-moz-placeholder{
        color: #a31515;
      }
    }
    button{
      position: absolute;
      right:0.64rem;
      top: 4.42rem;
      width: 1.36rem;
      height: 0.5rem;
      display: none;
      font-size: 0.24rem;
      color: #fcf5eb;
      background: {
        image: url("../img/register/juxing2@2x.png");
        repeat: no-repeat;
        size: 1.36rem 0.5rem;
      }
      &.on{
        background-image: url("../img/register/juxingcopy@2x.png");
      }
    }
    &>span{
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      display: block;
      width: 0.9rem;
      height: 0.9rem;
      background: {
        image: url("../img/register/qian@2x.png");
        repeat: no-repeat;
        size: 0.9rem 0.9rem;
      }
      &.on{
        background-image: url("../img/register/shen@2x.png");
      }
    }
  }
}


